<!DOCTYPE html>
<html>
  <head>
    <title>Myportfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>

  <%# Javascript && Jquery %>
    <%# The line below is needed for the Navbar, for the function please check out Javascript/custom/navbar %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $(window).on('scroll',function(){
          var link = $('.navbar a.dot');
          var top = $(window).scrollTop();

          $('.sec').each(function(){
            var id = $(this).attr('id');
            var height = $(this).height();
            var offset = $(this).offset().top - 150;
            if(top >= offset && top < offset + height){
              link.removeClass('active');
              $('.navbar').find('[data-scroll="' + id + '"]').addClass('active');
            }
          });
        });
      });
    </script>
  </body>
</html>
